#root {
  min-height: 100vh;
}

.manga-brush-underline::after {
  content: "";
  display: block;
  width: 110px;
  height: 18px;
  margin-top: 0.35rem;
  background-image: url("/theme/brush-2.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100% 100%;
}